.hide {
  display: none;
}

body {
  background: rgba(255, 248, 220, 0.5);
}

.headerContainer {
  background-color: rgba(61, 64, 240, 0.726);
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.result {
  margin-top: 10px;
}

.spinnerContainer {
  display: flex;
  justify-content: center;
}

#spinner {
  margin-top: 10px;
}

.container {
  border: solid 1px;
  height: 100vh;
  background: rgba(255, 248, 220, 0.692);
}

.alert-danger {
  margin-top: 10px;
}
